@use "@angular/material" as mat;
@import "@angular/material/theming";
@import "../app/components/navigation/navigation.theme";
@import "../app/components/language-selector/language-selector.theme";
@import "../app/components/card/card.theme";

$guardsman-red: (
  50: #f7e1e1,
  100: #eab3b3,
  200: #dd8080,
  300: #cf4d4d,
  400: #c42727,
  500: #ba0101,
  600: #b30101,
  700: #ab0101,
  800: #a30101,
  900: #940000,
  A100: #ffbfbf,
  A200: #ff8c8c,
  A400: #ff5959,
  A700: #ff4040,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);

$eminence: (
  50: #ede6f0,
  100: #d3c1da,
  200: #b698c1,
  300: #986ea8,
  400: #824f95,
  500: #6c3082,
  600: #642b7a,
  700: #59246f,
  800: #4f1e65,
  900: #3d1352,
  A100: #d58cff,
  A200: #c259ff,
  A400: #af26ff,
  A700: #a60dff,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$lochinvar: (
  50: #e6f1f0,
  100: #c0ddda,
  200: #96c6c2,
  300: #6bafa9,
  400: #4c9d96,
  500: #2c8c84,
  600: #27847c,
  700: #217971,
  800: #1b6f67,
  900: #105c54,
  A100: #93fff2,
  A200: #60ffed,
  A400: #2dffe7,
  A700: #14ffe4,
  contrast: (
    50: $dark-secondary-text,
    100: $dark-secondary-text,
    200: $dark-secondary-text,
    300: $dark-secondary-text,
    400: $dark-secondary-text,
    500: $light-secondary-text,
    600: $light-secondary-text,
    700: $light-secondary-text,
    800: $light-secondary-text,
    900: $light-secondary-text,
    A100: $dark-secondary-text,
    A200: $dark-secondary-text,
    A400: $dark-secondary-text,
    A700: $dark-secondary-text
  )
);

@include mat.core();

$demo-app-primary: mat.define-palette($eminence);
$demo-app-accent: mat.define-palette($lochinvar);

$demo-app-warn: mat.define-palette($guardsman-red);
$demo-app-success: mat.define-palette(mat.$light-green-palette);

$demo-mat-theme: mat.define-light-theme($demo-app-primary, $demo-app-accent, $demo-app-warn);
$demo-custom-theme: (
  success: $demo-app-success
);

$demo-app-theme: map-merge($demo-mat-theme, $demo-custom-theme);

$theme: $demo-app-theme;

@include mat.all-component-themes($theme);
@include app-navigation-theme($theme);
@include language-selector-theme($theme);
@include card-theme($theme);
