@use "~@angular/material" as mat;
@mixin app-navigation-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  .navigation mat-nav-list a.mat-list-item {
    &.active {
      &,
      &:hover,
      &:active {
        background-color: mat.get-color-from-palette($primary, 500);
        color: mat.get-contrast-color-from-palette($primary, 500);
      }
    }

    &:hover {
      background-color: mat.get-color-from-palette($primary, 100);
      color: mat.get-contrast-color-from-palette($primary, 100);
    }
  }
}
