<header class="container">
	<h1 class="mat-display-3 app-title">Ngx-Form-Errors</h1>
	<h2 class="mat-display-3 app-subtitle">Validation messages in Reactive Forms made easy</h2>
</header>
<!--<button mat-button (click)="sidenav.toggle()">Toggle Sidenav</button>-->

<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="side" opened>
		<app-language-selector></app-language-selector>
		<mat-list>
			<mat-list-item routerLink="/template-driven-forms" routerLinkActive="active"> Template Driven Forms </mat-list-item>
			<mat-list-item routerLink="/reactive-forms" routerLinkActive="active"> Reactive Forms </mat-list-item>
			<mat-list-item routerLink="/ngx-form-errors" routerLinkActive="active"> Ngx Form Errors </mat-list-item>
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content class="container"> <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>
